# Database conn for localized development
# yourpassword will be the password you set for your local Postgres database
# db_name will be the name of your local Postgres database
# you can just use scuffed_trello for db_name if you want, but make sure to create the database in Postgres first

DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/db_name